name: test

on:
  pull_request:
    branches: [ master ]

jobs:
  test_1:
    runs-on: [ ubuntu-latest ]

    container:
      image: ubuntu:18.04

    steps:
      - name: First step
        run: echo "hello First step abc"

      - name: Second step
        run: echo "hello Second step"

  test_2:
    needs: test_1

    runs-on: [ ubuntu-latest ]

    container:
      image: ubuntu:18.04

    steps:
      - name: First step
        run: echo "Buon giorno First step"

      - name: Second step
        run: echo "Buon giorno Second step"

      - name: Create artifacts
        run: touch test_2

      - name: Upload artifacts
        uses: actions/upload-artifact@v2
        with:
          name: my-artifacts
          path: test_2

  test_3:
    needs: test_1

    runs-on: [ ubuntu-latest ]

    container:
      image: ubuntu:18.04

    steps:
      - name: First step
        run: echo "Ciao First step"

      - name: Second step
        run: echo "Ciao Second step"

  test_4:
    needs: test_2

    runs-on: [ ubuntu-latest ]

    container:
      image: ubuntu:18.04

    steps:
      - name: First step
        run: echo "Ciao First step"

      - name: Second step
        run: echo "Ciao Second step"

  test_2004_1:
    runs-on: [ ubuntu-latest ]

    container:
      image: ubuntu:20.04

    steps:
      - name: First step
        run: echo "hello First step"

      - name: Second step
        run: echo "hello Second step"

  test_2004_2:
    needs: test_2004_1

    runs-on: [ ubuntu-latest ]

    container:
      image: ubuntu:20.04

    steps:
      - name: First step
        run: echo "Buon giorno First step"

      - name: Second step
        run: echo "Buon giorno Second step"

      - name: Create artifacts
        run: touch test_2004_2

      - name: Upload artifacts
        uses: actions/upload-artifact@v2
        with:
          name: my-artifacts-2004
          path: test_2004_2

  test_2004_3:
    needs: test_2004_1

    runs-on: [ ubuntu-latest ]

    container:
      image: ubuntu:20.04

    steps:
      - name: First step
        run: echo "Ciao First step"

      - name: Second step
        run: echo "Ciao Second step"

